* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: linear-gradient(to bottom, #102434, #161f86, #3f8acb);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 49;
    opacity: 0.9;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    pointer-events: none;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}

.navbar a:hover {
    color: #FFA500;
}

.navbar .btnlogin-popup {
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.navbar .btnlogin-popup::before {
    content: '';
    left: 0;
    bottom: -4px;
    opacity: .85;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
}

.section {
    height: 700px;
    background: linear-gradient(to bottom, #003366c1, #0c0707);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    border-radius: 10px;
    width: 30%;
    background-color: #51515177;
    color: #fff;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #0c2b449b;
    border: none;
    outline: none;
    border: 2px rgba(0, 0, 0, 0.759);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0px 15px;
    padding-left: 5%;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    padding-right: 5%;
}

.remember-forgot a:hover {
    text-decoration: underline;
    transition: 1.05s;
    color: #FFA500;
    transform: translateX(-6%);
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .btn:hover{
    transition: 1.05s;
    color: #000000;
    background: #FFA500;
}
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 40px 0px 40px;
}

.register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
    color: #FFA500;
    transition: 1.05s;
    transform: translateX(-6%);
}

.footer-text {
    color: #fff;
    margin-bottom: 3%;
}

footer {
    background-color: #272727;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: auto;
}

footer li {
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a {
    background: #012b9d7f;
    color: #272727;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}

.icons a:hover {
    color: #ffffff;
    transition: 0.5s;
}

.menu a {
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
}

.menu a:hover {
    color: #52527a;
    transition: 0.5s;
}

.footer-copyright {
    background-color: #012b9d7f;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p {
    margin-bottom: 0px;
}
.head{
    align-items: center;
    padding-left: 25%;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #003366c1, #0c0707);
     color: transparent;
     -webkit-background-clip: text;
}